html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0 0 2rem 0;
  background: rgb(48, 51, 53);
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  max-width: 80%;
  border-collapse: collapse;
  border-spacing: 2rem;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

tcaption {
  font-size: 24px;
  font-weight: 700;
  color: rgb(242, 240, 237);
  text-align: center;
}

table th {
  text-align: center;
  padding: 1rem;
  font-weight: 700;
  font-size: 18px;
}
table th:nth-child(1) {
  background: #37392e;
  border-radius: 20px 0 0 0;
  color: white;
}
table th:nth-child(2) {
  background: #383b30;
  color: white;
}
table th:nth-child(3) {
  background: #383c31;
  color: white;
}
table th:nth-child(4) {
  background: #383e33;
  color: white;
}
table th:nth-child(5) {
  background: #394035;
  color: white;
}
table th:nth-child(6) {
  background: #394136;
  border-radius: 0 20px 0 0;
  color: white;
}

table td {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: rgb(242, 240, 237);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
}
table tr:last-child td {
  border-bottom: none;
}
table col:nth-child(2) {
  background: #f4feff;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(242, 240, 237);
}

a:hover {
  color: #f4feff;
  text-decoration: underline;
}
